In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Admin\Desktop\all data\4th\house predict\train.csv')

In [3]:
df.isnull().sum

<bound method DataFrame.sum of          Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley  \
0     False       False     False        False    False   False   True
1     False       False     False        False    False   False   True
2     False       False     False        False    False   False   True
3     False       False     False        False    False   False   True
4     False       False     False        False    False   False   True
...     ...         ...       ...          ...      ...     ...    ...
1455  False       False     False        False    False   False   True
1456  False       False     False        False    False   False   True
1457  False       False     False        False    False   False   True
1458  False       False     False        False    False   False   True
1459  False       False     False        False    False   False   True

      LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence  \
0        False        False      False  ...     False    True   True
1        False        False      False  ...     False    True   True
2        False        False      False  ...     False    True   True
3        False        False      False  ...     False    True   True
4        False        False      False  ...     False    True   True
...        ...          ...        ...  ...       ...     ...    ...
1455     False        False      False  ...     False    True   True
1456     False        False      False  ...     False    True  False
1457     False        False      False  ...     False    True  False
1458     False        False      False  ...     False    True   True
1459     False        False      False  ...     False    True   True

      MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
0            True    False   False   False     False          False      False
1            True    False   False   False     False          False      False
2            True    False   False   False     False          False      False
3            True    False   False   False     False          False      False
4            True    False   False   False     False          False      False
...           ...      ...     ...     ...       ...            ...        ...
1455         True    False   False   False     False          False      False
1456         True    False   False   False     False          False      False
1457        False    False   False   False     False          False      False
1458         True    False   False   False     False          False      False
1459         True    False   False   False     False          False      False

[1460 rows x 81 columns]>

In [4]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [5]:
df.duplicated().sum()

0

In [9]:
from sklearn.impute import KNNImputer

impute = KNNImputer()
for i in df.select_dtypes(include = 'number').columns:
    df[i] = impute.fit_transform(df[[i]])

In [10]:
df.dtypes

Id               float64
MSSubClass       float64
MSZoning          object
LotFrontage      float64
LotArea          float64
                  ...
MoSold           float64
YrSold           float64
SaleType          object
SaleCondition     object
SalePrice        float64
Length: 81, dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for i in df.select_dtypes(include = 'object').columns:
    df[i] = le.fit_transform(df[i])

In [14]:
df.dtypes

Id               float64
MSSubClass       float64
MSZoning           int32
LotFrontage      float64
LotArea          float64
                  ...
MoSold           float64
YrSold           float64
SaleType           int32
SaleCondition      int32
SalePrice        float64
Length: 81, dtype: object

In [15]:
df = df.select_dtypes(include = 'number').astype('int64')

In [16]:
df.dtypes

Id               int64
MSSubClass       int64
MSZoning         int64
LotFrontage      int64
LotArea          int64
                 ...
MoSold           int64
YrSold           int64
SaleType         int64
SaleCondition    int64
SalePrice        int64
Length: 81, dtype: object

In [17]:
df.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65,8450,1,2,3,3,0,...,0,3,4,4,0,2,2008,8,4,208500
1,2,20,3,80,9600,1,2,3,3,0,...,0,3,4,4,0,5,2007,8,4,181500

In [24]:
x = df.drop(columns = ['SalePrice'])
y = df['SalePrice']

In [33]:
tdf = pd.read_csv(r'C:\Users\Admin\Desktop\all data\4th\test.csv')

[140000 190000 140000 ... 190000 140000 140000]

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [44]:
model=RandomForestClassifier(random_state=42)
model.fit(x, y)

model_svc = SVC()
model_svc.fit(x, y)

SVC()

In [45]:
pre = model.predict(tdf)
print(pre)

[186871.81358095 237131.48645602 248056.88647308 ... 227199.62274672
 200282.82376803 317624.54148577]

In [46]:
submission = pd.DataFrame({'Id' : tdf['Id'], 'SalePrice' : pre})
submission.to_csv('submission.csv', index = False)
print("submission saved!")

submission saved!