In [7]:
import pandas as pd
from sklearn.impute import KNNImputer

In [2]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\all data\4th\Task 2\train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.duplicated().sum()

0

In [9]:
impute = KNNImputer()
for i in df.select_dtypes(include = 'number').columns:
    df[i] = impute.fit_transform(df[[i]])

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for i in df.select_dtypes(include = 'object').columns:
    df[i] = le.fit_transform(df[i])

In [13]:
df = df.select_dtypes(include = 'number').astype('int64')

In [15]:
columns_to_drop = [
    'Name', 'Cabin', 'Ticket'
]
df_cleaned = df.drop(columns=columns_to_drop)

In [20]:
x = df.drop(columns = ['Survived'])
y = df['Survived']

In [21]:
df_cleaned.to_csv('train.csv', index=False)

In [22]:
train_data = pd.read_csv(r'C:\Users\Admin\Desktop\all data\4th\Task 2\train.csv')

In [23]:
test_data = pd.read_csv(r'C:\Users\Admin\Desktop\all data\4th\Task 2\test.csv')

In [26]:
from sklearn.ensemble import RandomForestClassifier

features = ["Pclass", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)
print("Run")

Run

In [27]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!